body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.dropbtn {
  display: inline-block;
  position: relative;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: red;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0px;
  overflow: auto;
}
 
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  display: block;
  list-style-type: none;
}

.dropdown-content li:hover {
  background-color: rgb(138, 220, 231);
}

.show {display: block;}